.home-section {
  padding: 60px 0 !important;
}
.scrollable {
  position: relative;
  width: 100%;
  height: 100vh;
}
.section-intro {
  padding: 0px 0 60px;
  background: #ffffff;
  h1 {
    font-size: 32px;
    margin: 2rem 0 1rem;
    font-weight: 300;
  }
  p {
    font-size: 16px;
    max-width: 450px;
    margin: 0 auto 1.4rem;
  }
  img {
    display: block;
    margin: 0 auto;
  }
}
.section-demos {
  position: relative;
  background: #1e5799;
  .demo-box {
    h3 {
      margin: 0 0 1.4rem;
      font-size: 24px;
      font-weight: 700;
      color: #ffffff;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
    }
    img {
      width: 100%;
      height: auto;
      float: left;
    }
    .screenshot {
      overflow: hidden;
      border-radius: 8px;
      margin-bottom: 2rem;
      min-height: 180px;
      cursor: pointer;
    }
  }
}
.homepage {
  .home_banner{
    padding: 0px;
  }
  .header-topnav{
    position: fixed; 
    width: 100%;
    margin-bottom: 65px;
    background-color: #1d1b1beb;
  }
  .topbar-branding{
    height: 65px;
    width: 31%;
  }
  .topnav ul.menu {
    float: left;
    height: 48px;
    padding-left: 200px;
}
.home_banner img{
  width: 100%;
 // height: 400px;
}
  .header-topnav .topbar-branding{
   
    text-align: right;
  }
  @media (min-width: 551px) and (max-width: 767px) {
    .topbar-branding {
      height: auto !important;
      width: 100%;
      }
      .header-topnav .topbar-branding img {
        height: 100%;
        width: 100%;
    }
    }
    @media (max-width: 550px) {
      .topbar-branding {
       // height: auto !important;
        width: 140px;
        }
        .header-topnav .topbar-branding img {
          height: 100%;
          max-width: none;
      }
      }
    .topnav ul.menu > li > div > a, .topnav ul.menu > li > div > div{
      font-weight: bold;
      color:#ffffff;
    }
}